body {
    font-family: Arial;
    background: #d1d5db;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

nav ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

main {
    max-width: 1100px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 20px;
}

.capa-fondo {
    background: linear-gradient(135deg, #22c55e, #16a34a);
    padding: 40px;
    border-radius: 15px;
}

button {
    background: #111827;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
}

.contenedor-productos-carrusel {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.contenedor-productos-carrusel article {
    background: #f3f4f6;
    padding: 15px;
    border-radius: 12px;
    width: 200px;
}

.blog-card {
    background: #f3f4f6;
    padding: 15px;
    border-radius: 12px;
    width: 250px;
}